/* ----------------------------------------- Styles for Widget ----------------------------------------- */

.casinos-widget {
    /* font-family: Questrial, sans-serif!important; */
}

.casinos-widget-text {
    padding: 20px 10px;
    background-color: #f0f0f0;
    color: #333;
    border-bottom: 1px solid #dfdfdf;
    font-size: 10px;
}

.cl_casinos_list_class .widget-title {
    background-color: #333;
    color: #fff;
    padding: 1.5rem 1rem;
    text-align: center;
    margin: 0!important;
}

.casinos-widget-text strong {
    text-transform: uppercase;
}

.cl_casinos_list_class .widget-title {
    position: relative;
}

.casinos-widget-text p {
    margin: 0!important;
}

#cl_featured_casino-2 .box-list {
    padding-top: 0;
}

#cl_featured_casino-2 .box-item {
    border-radius: 0;
}

.cl_casinos_list_class .casinos-widget {
    position: relative;
}

.cl_casinos_list_class .casinos-widget:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    z-index: 15;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 8px solid #333;
}

#cl_casinos_list-2 .casinos-widget {
    background-color: #fff;
}

.single-casino {
    display: grid;
    grid-template-columns: 20% 53% 27%;
    padding: 15px 5px;
}

.single-casino:not(:last-of-type) {
    border-bottom: 2px solid #f9f9f9;
}

.single-casino_logo {
    align-self: center;
}

.single-casino_logo img {
    width: 60px;
    max-height: 25px;
    object-fit: contain;
}

.single-casino_info {
    justify-self: left;
    align-self: center;
    margin-left: 10px;
}

.single-casino_info--bonus {
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
}

.widget-bonus-field {
    color: #42c306;
    font-weight: bold;
}

.single-casino_cta {
    justify-self: right;
}

.single-casino_cta a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 6px;
    background-color: #42c306;
    color: #fff;
    border-radius: 5px;
    border: none!important;
    text-decoration: none!important;
    white-space: pre;
}

/* ----------------------------------------- Styles for Widget ----------------------------------------- */