.flexbox {
    display: flex!important;
}

.hidden {
    display: none;
}

.casino-entry-content {
    margin: 0!important;
    width: 66.66666667%;
    padding: 10px 20px;
    float: left;
}

.list__dropdown {
    display: flex;
}

.list__dropdown-casino {
    float: left;
    width: 33.33333333%;
    padding: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
}

.casino .dropdown-heading .fas {
    margin-right: 10px;
}

/*----------------------------------------------------------------------------------------------------- Styles for toplist layout*/

.casino-container {
    counter-reset: listcounter;
    padding: 0 0 30px 0;
}

.casino-list {
    position: relative;
    display: grid;
    grid-template-columns: 3% minmax(140px, 190px) minmax(320px, 1fr) minmax(120px, 245px) minmax(140px, 170px);
    grid-template-rows: 140px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
}

.casino-list {
    margin-top: 20px;
    color: #333;
}

.casino-list:not(:first-child) {
    margin-top: 25px;
}

.casino-list>* {
    display: grid;
    justify-content: center;
    text-align: center;
}

.list__rank {
    background-color: #eaeaea;
    display: grid;
    align-items: center;
}

.list__rank-position {
    align-items: center;
    justify-content: center;
}

.list__rank-position:before {
    counter-increment: listcounter;
    content: counter(listcounter);
    position: static;
    z-index: 2;
    font-weight: bold;
}

.list__logo-image {
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__logo-image a {
    width: 100%;
}

.list__logo .list__logo-wrap .list__logo-image img {
    object-fit: contain!important;
    max-width: 140px!important;
    height: 60px!important;
}

.list__logo-wrap .stars {
    color: #ff7501;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.list__bonus-container {
    display: grid;
    grid-template-columns: 37% 63%;
    padding: 0;
}

.list__bonus-container>* {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}

.list__bonus {
    position: relative;
    align-content: center;
    grid-column: auto;
    gap: 0;
    text-decoration: none!important;
}

.list__bonus-title:nth-child(1), .list__bonus-title:nth-child(3), .box__bonuses-title {
    line-height: 16px;
}

.list__bonus .list__bonus-title:nth-child(1), .list__bonus .list__bonus-title:nth-child(3) {
    font-size: 14px;
    font-weight: normal;
}

.list__bonus .list__bonus-title:nth-child(2) {
    font-size: 38px;
    font-weight: 700;
    color: #42c306;
    text-decoration: none;
}

.list__highlight {
    display: flex;
    flex-direction: column;
}

.list__highlight-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.list__highlight-subtitle {
    font-size: 12px;
}

.list__highlight-deposit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.payment-card {
    flex-basis: 60px;
}

.withdrawal-time {
    font-size: 12px;
}

.withdrawal-time span {
    font-size: initial;
    font-weight: bold;
    font-size: 14px;
}

.list__highlight-deposit img {
    filter: grayscale(.8);
    margin-right: 4px;
    width: 45px;
    height: 28px;
    object-fit: contain;
}

.list__highlight-deposit img:hover {
    filter: none;
    cursor: pointer;
}

.list__top {
    padding: 1rem;
    font-size: 13px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.list__top3 {
    padding: 6px 0;
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;
}

.list__top3 .fas {
    margin-right: 5px;
    color: #a2ccb6;
}

.list__cta {
    padding: 15px;
    justify-content: stretch;
    text-decoration: none;
    align-items: center;
    grid-template-rows: 20% 70% 10%;
}

.list__quick-facts {
    background: transparent;
    color: #3a3a3a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__quick-facts .fas {
    margin-left: 3px;
    font-size: 12px;
}

.list__review {
    font-size: 11px;
    font-style: italic;
    color: #a4a4a4!important;
    text-decoration: none;
}

.list__button .fa-chevron-right {
    margin-left: 10px;
}

.list__button {
    -webkit-appearance: none;
    background: #42c306;
    border: none;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    color: #fff;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list__button .fa-angle-double-right {
    font-size: 16px;
    margin-left: 5px;
}

a.list__button.hvr-icon-forward {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cl-terms {
    font-size: 12px;
    font-style: italic;
    background-color: #f4f4f4;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1000;
}

.cl-terms__text {
    padding: 10px;
    color: #000;
}

.cl-terms__text .fas {
    margin-right: 24px;
    font-size: 16px;
}

.list__button:hover {
    color: #fff!important;
}

/* ----------------------------------------------------------------------------------------------------- Styles for Dropdown layout */

.list__dropdown {
    position: relative;
    margin-top: 10px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    padding-bottom: 20px;
    background-color: #fff;
    z-index: 10;
    border-radius: 5px;
}

.list__more-info {
    display: block;
}

.list__dropdown-facts, .list__dropdown-intro, .list__dropdown-bonus {
    padding: 0 20px;
    flex: 33%;
}

.dropdown-heading {
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 20px;
}

.dropdown-heading .fas {
    color: #e00f00;
}

.dd-info-field {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.dd-info-field:nth-child(odd) {
    background: #f4f4f4;
}

.dd-info-right {
    font-weight: bold;
}

.dropdown-intro-text {
    font-size: 14px;
}

.list__dropdown .fas {
    margin-right: 10px;
}

.dropdown-bonus-info {
    display: flex;
    flex-direction: column;
}

.list__dropdown-bonus {
    display: flex;
    flex-direction: column;
}

.dropdown-bonus-info {
    flex: 1;
}

.dd-review-casino, .dd-register {
    display: flex;
}

.dd-register a, .dd-review-casino a {
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}

.dd-register a, .dd-review-casino a {
    background-color: #e00f00!important;
    color: #fff!important;
    text-decoration: none!important;
}

.dd-register a {
    background-color: #42c306!important;
    text-decoration: none!important;
}

.dd-info-left {
    font-size: 13px;
}

.dropdown-facts-info .fa-check-circle {
    color: #216C2A;
    font-size: 20px;
}

.dropdown-facts-info .fa-times-circle {
    color: #e00f00;
    font-size: 20px;
}

.dd-buttons-field {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.dd-buttons-field .dd-buttons-review, .dd-buttons-field .dd-buttons-register {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.dd-buttons-register {
    background: #42c306!important;
}

.dd-buttons-review {
    background: #c5c5c5!important;
}

.dd-buttons-register .fas {
    margin-left: 10px;
}

/* ----------------------------------------------------------------------------------------------------- RIBBON*/

.ribtop {
    top: 130px;
    position: absolute;
    padding: 0 0.5em;
    font-size: 14px;
    line-height: 1.875em;
    color: #fff;
    border-radius: 0 0.156em 0.156em 0;
    background: darkorange;
}

.ribtop:before, .ribtop:after {
    position: absolute;
    content: '';
    display: block;
}

.ribtop:before {
    width: 0.469em;
    height: 125%;
    padding: 0 0 0.438em;
    top: 0;
    left: -0.469em;
    background: inherit;
    border-radius: 0.313em 0 0 0.313em;
}

.ribtop:after {
    width: 0.313em;
    height: 0.313em;
    background: rgba(0, 0, 0, 0.35);
    bottom: -0.313em;
    left: -0.313em;
    border-radius: 0.313em 0 0 0.313em;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}


.rib {
    top: -12px;
    position: absolute;
    padding: 0 0.5em;
    font-size: 14px;
    line-height: 1.875em;
    color: #fff;
    border-radius: 0 0.156em 0.156em 0;
    background: darkorange;
}

.rib:before, .rib:after {
    position: absolute;
    content: '';
    display: block;
}

.rib:before {
    width: 0.469em;
    height: 125%;
    padding: 0 0 0.438em;
    top: 0;
    left: -0.469em;
    background: inherit;
    border-radius: 0.313em 0 0 0.313em;
}

.rib:after {
    width: 0.313em;
    height: 0.313em;
    background: rgba(0, 0, 0, 0.35);
    bottom: -0.313em;
    left: -0.313em;
    border-radius: 0.313em 0 0 0.313em;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------------------------------------------------------------- BOX STYLES*/

.box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin: 15px 0;
}

.widebox-container {
    max-width: 900px;
    margin: 0 auto;
}

.widebox-container .casino-box {
    margin-bottom: 10px;
    border-radius: 5px;
}

.widebox-container .casino-box_perks {
    display: none;
}

.widebox-container .casino-box_cta {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widebox-container .casino-box_logo, .widebox-container .casino-box_main-bonus {
    padding: 0;
}

.widebox-container .casino-box_main-bonus {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.widebox-container .casino-box_cta a {
    background-color: #42c306;
    padding: 10px 25px;
    border-radius: 5px;
}

.widebox-container .box__bonuses-title:nth-child(1) {
    text-transform: capitalize;
    margin-left: 5px;
}

.widebox-container .box__bonuses-title:nth-child(1), .widebox-container .box__bonuses-title:nth-child(3) {
    font-size: 19px;
    line-height: initial;
}

.widebox-container .casino-box_content-wrapper {
    display: grid;
    grid-template-columns: 16% 62% 5% 17%;
    flex-direction: column;
    padding: 15px 7px;
}

.casino-box {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.casino-box_main-bonus {
    font-size: 16px;
    font-weight: bold;
}

.box__bonuses-title:nth-child(2) {
    color: #42c306;
    font-size: 26px;
    font-weight: bold;
}

.box__bonuses-title {
    margin-right: 5px;
    white-space: pre;
}

.casino-box .casino-box_content-wrapper .casino-box_logo img {
    height: 50px!important;
    width: 140px!important;
    object-fit: contain!important;
}

.casino-box_content-wrapper {
    display: flex;
    flex-direction: column;
}

.casino-box_logo, .casino-box_main-bonus {
    text-align: center;
    padding-top: 10px;
}

.casino-box_perks {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 14px;
    flex-basis: 180px;
    padding: 15px 5px;
}

.box__bonus-title {
    padding: 12px 0;
}

.box__bonus-title .fas {
    margin-right: 5px;
    color: #42c306;
}

.casino-box_cta {
    background-color: #42c306;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
}

.casino-box_cta .fas {
    margin-left: 5px;
    font-size: 18px;
}

.casino-box_cta a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* -----------------------------------------------------------------------------------------------------Single style */

.cl_single .list__rank {
    display: none;
}

.cl_single.casino-container {
    padding: 10px 0;
}

.cl_single .casino-list {
    grid-template-columns: minmax(140px, 190px) minmax(320px, 1fr) minmax(120px, 220px) minmax(140px, 195px);
}

.cl_single .list__review {
    display: none;
}

.cl_single .list__cta {
    grid-template-rows: 20% 70%;
}

/* ----------------------------------------------------------------------------------------------------- Icon Forward */

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.load-more-loader img {
    max-width: 32px;
}

/* ----------------------------------------------------------------------------------------------------- TIME UPDATER STYLES*/

.listings-wrapper .info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listings-wrapper .time-updater {
    margin-bottom: 10px;
}

.listings-wrapper .time-updated {
    font-size: 16px;
    padding: 10px 10px 0;
    border-radius: 5px;
}

.listings-wrapper .time-updated span {
    text-transform: capitalize;
}

.listings-wrapper .time-updater span {
    font-weight: bold;
}

#loader {
    display: flex;
    justify-content: center;
    padding: 65px 0;
}

/* FLAGS ON REVIEW PAGE */

/* .casino-info-header {
    display: flex;
} */

.casino-flags-bottom {
    display: inline;
}

.casino-flags-bottom img {
    max-width: 25px;
    margin: 0 4px;
    margin-bottom: 2px;
}

.casino-flags-bottom img:hover {
    cursor: help;
}

.casino-flags-bottom-mobile {
    display: inline;
}

.casino-flags-bottom-mobile img {
    max-width: 35px;
    margin-right: 4px;
    margin-bottom: 2px;
}

.casino-flags-bottom-mobile img:hover {
    cursor: help;
}

@media only screen and (max-width:867px) {
    .casino-flags-bottom {
        display: none;
    }
}

@media only screen and (min-width:868px) {
    .casino-flags-bottom {
        display: inline;
    }
    .casino-flags-bottom-mobile {
        display: none;
    }
}

/* ----------------------------------------------------------------------------------------------------- LOAD MORE Button styles */

.cl_loadmore {
    background-color: #ddd;
    border-radius: 2px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 0;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.cl_loadmore:hover {
    background-color: #767676;
    color: #fff;
}

/* ----------------------------------------------------------------------------------------------------- FILTER Button styles */

.button-filter {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #8c8c8c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 9px 16px 9px;
    margin: 0 10px 0 0;
    transition: all 20ms ease-out;
    vertical-align: top;
    outline: none;
}

.button-filter:hover, .button-filter:focus {
    background: #f2f2f2;
    border-color: #8c8c8c;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
    outline: none;
}

.button-filter:active {
    background: #f2f2f2;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    outline: none;
}

.button-filter .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-filter .fa {
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: -1px 8px 0 -4px;
    vertical-align: top;
}

/* -------------------------------------------------- Casino control buttons (next/prev) ---------------------- */

.single-casino-wrapper {
    position: relative;
}

.single-casino-wrapper .next-casino {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 20;
}

.single-casino-wrapper .prev-casino {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 20;
}

.prev-casino a, .next-casino a {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    background-color: rgb(0, 1, 68);
    text-decoration: none;
}

.prev-casino a img, .next-casino a img {
    width: 110px!important;
    height: 40px!important;
    object-fit: contain;
}

.prev-casino .fas, .next-casino .fas {
    color: #fff;
    font-size: 25px;
}

/* Boombox sticky menu removed from casino reviews */

.single-casino-listing .bb-sticky-el.floating-navbar-inner {
    display: none!important;
}

/* ---------------------------------------------------------------------Fixed nav top  */

.fixed-nav-top {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 1, 68);
    z-index: 2;
}

.nav-top-container {
    display: flex;
    padding: 10px 30px;
    justify-content: space-evenly;
    align-items: center;
}

.nav-top-container img {
    width: 170px;
    height: 45px;
    object-fit: contain;
}

.nav-top-middle {
    display: flex;
    align-items: center;
}

.nav-top-middle a {
    background: linear-gradient(to right, #fc7b12, #f3b45c, #fc7b12);
    color: #fff!important;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 20px;
}

.nav-top-middle .fixed-nav-bonuses {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 11px;
    margin-right: 3px;
}

.nav-top-middle .fixed-nav-bonuses:nth-child(2) {
    color: #42c306;
    font-weight: bold;
}

.nav-top-middle .fas {
    margin-left: 15px;
}

/* ----------------------------------------------------------------------------------------------------- SINGLE CASINO TEMPLATE */

.casino-ratings-header .fas, .casino-info-header .fas, .providers-payment-heading .fas {
    margin-right: 10px;
}

.bottom-part__wrap, .casino-payment-methods, .casino-providers, .upper-left-box, .upper-center-box, .upper-right-box {
    border: 2px solid #f4f4f4;
}

.single-casino-wrapper {
    background-color: #00121a;
}

.left-box__wrap .left-box__img-area img {
    width: 180px;
    height: 65px;
    object-fit: contain;
}

.upper-casino-wrap {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.main-top-part {
    display: flex;
    color: #333;
    min-height: 310px;
}

.upper-left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.upper-left-box .left-box__img-area img {
    width: 200px;
    height: 85px;
    object-fit: contain;
}

.upper-center-box {
    flex: 36%;
    background-color: #fff;
}

.upper-left-box, .upper-right-box {
    flex: 32%;
    background-color: #fff;
}

.main-top-part .upper-left-box, .main-top-part .upper-center-box {
    margin-right: 10px;
}

.upper-left-box .left-box__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.upper-left-box .left-box__img-area {
    text-align: center;
}

.upper-left-box .list__bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
}

.upper-left-box .list__button {
    margin-top: 15px;
}

.upper-center-box .center-box__wrap, .upper-right-box {
    padding: 14px 10px 0;
}

.casino-info-wrap .casino-info-left, .casino-info-wrap .casino-info-right {
    padding: 7px 0;
}

.casino-info-wrap .casino-info-right {
    display: flex;
    justify-content: flex-end;
}

.center-box-right .casino-info-left {
    flex: 65%;
}

.center-box-right .casino-info-right {
    flex: 35%;
}

.main-low-part {
    background-color: #fff;
    margin-bottom: 15px;
}

.casino-lower-part {
    background: #fff;
    margin-top: 15px;
}

.bottom-part__wrap {
    padding: 20px;
    display: flex;
    color: #333;
}

.bottom-part__wrap-left {
    flex: 0 0 49%;
    margin-right: 20px;
}

.bottom-part__wrap-right {
    flex: 0 0 50%;
}

.bottom-part__wrap-right .casino-info-wrap .fa-times-circle {
    color: #e00f00;
    font-size: 20px;
}

.bottom-part__wrap-right .casino-info-wrap .fa-check-circle {
    color: #216C2A;
    font-size: 20px;
}

.casino-text-part {
    background: #fff;
}

.casino-text-wrap {
    max-width: 70%;
    margin: 0 auto;
}

.casino-text-wrap #casino-content {
    padding: 40px 0;
}

.lower-text-wrap {
    max-width: 65%;
    margin: 0 auto;
}

.casino-content {
    padding-top: 40px;
}

.casino-name {
    padding: 15px 0;
    text-align: center;
}

.casino-name h1 {
    font-size: 52px;
    color: #fff;
}

.casino-payment-methods span {
    margin-right: 10px;
}

.casino-dropdown-heading {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 20px;
}

.casino-ratings-header, .casino-info-header {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 20px;
}

#bonus-info .table-link {
    font-weight: 700!important;
    color: #42c306!important;
}

.ratings-left, .casino-info-wrap {
    display: flex;
    flex-wrap: wrap;
}

.ratings-info, .ratings-stars, .casino-info-left, .casino-info-right {
    flex: 48%;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.casino-info-right {
    font-weight: bold;
}

.star-active {
    color: #ffd700;
}

.ratings-stars span {
    font-size: 26px;
}

.info-wrap-left, .info-wrap-right {
    flex: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-casino-info-left {
    flex: 75%;
    padding: 10px 0;
}

.info-casino-info-right {
    flex: 25%;
    padding: 10px 0;
}

.info-casino-info-right {
    text-align: center;
}

.providers-payment {
    display: flex;
    margin: 10px 0;
}

.casino-payment-methods, .casino-providers {
    flex: 49%;
}

.casino-payment-methods {
    margin-right: 10px;
}

.payment-wrap, .providers-wrap {
    flex: 0 0 50%;
}

.providers-payment-heading {
    color: #fff;
    font-weight: bold;
}

.casino-payment-methods, .casino-providers {
    display: grid;
    background: #fff;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: minmax(45px, auto);
    padding: 5px 0;
}

.review-payment-card {
    justify-self: center;
    align-self: center;
}

.review-payment-card img {
    width: 55px;
    height: 26px;
    object-fit: contain;
}

.casino-providers .software-item {
    justify-self: center;
    align-self: center;
}

.casino-providers .software-item img {
    width: 65px;
    height: 25px;
    object-fit: contain;
}

.casino-providers .software-item, .review-payment-card {
    padding: 5px;
}

table, td, th {
    border: none!important;
}

.main-top-part td, th {
    padding: 7px;
}

td.left {
    font-size: 15px!important;
}

td.right {
    text-align: right;
    font-weight: bold;
    font-size: 15px!important;
}

caption.casino-info-header {
    text-align: left;
}

#general-info tbody tr:last-child .right {
    color: #e00f00;
}

#bonus-info tbody tr:last-child .right {
    color: #216C2A;
}

.upper-center-box .left {
    width: 40%;
}

.upper-center-box .right {
    width: 60%;
}

.upper-right-box .left {
    width: 70%;
}

.upper-right-box .right {
    width: 30%;
}

.main-top-part table {
    margin: 0!important;
}

.upper-center-box .right, .upper-center-box .left, .upper-right-box .left, .upper-right-box .right {
    padding: 10px 0;
    background: #fff!important;
}

/* Casino review information template CSS */

.show-all-software, .show-all-payment {
    justify-self: center;
    align-self: center;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0f0e3c;
}

.load-more-wrap {
    display: flex;
    justify-content: center;
}

/* Load more button styles */

.load-more-casinos {
    background-color: #3a3a3a;
    color: #fff;
    padding: 5px 25px;
    border-radius: 100px;
}

.load-more-casinos:hover {
    cursor: pointer;
}

/* Tooltip CSS */

.casino-flags-bottom {
    position: relative;
}

.toolbar {
    font-size: 10px;
    font-weight: 400;
    width: 210px;
    position: absolute;
    top: -26px;
    left: -90px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px 0;
    text-align: center;
}

.toolbar {
    visibility: hidden;
}

.casino-flags-bottom:hover .toolbar.world, .casino-flags-bottom:hover .toolbar.europe, .casino-flags-bottom:hover .toolbar.usa, .casino-flags-bottom:hover .toolbar.canada, .casino-flags-bottom:hover .toolbar.gb, .casino-flags-bottom:hover .toolbar.australia {
    visibility: visible;
}

.uppercase {
    text-transform: uppercase;
}

/* ----------------------------------------------------------------------------------------------------- MOBILE STYLES */

@media screen and (max-width: 1200px) {
    .list__top {
        display: none;
    }
    .casino-list {
        grid-template-columns: 3% minmax(140px, 190px) minmax(320px, 1fr) minmax(140px, 180px);
    }
}

@media screen and (max-width: 768px) {
    .casino-list {
        grid-template-columns: auto;
        grid-template-rows: 125px;
    }
    .list__rank-position {
        padding: 1rem;
    }
    .list__rank {
        position: absolute;
    }
    .list__logo-image {
        max-height: 80px;
    }
    .list__dropdown-rating {
        flex-direction: column;
    }
    .list__dropdown-stars {
        display: flex;
        flex-direction: row;
    }
    .list__logo-wrap .stars {
        font-size: 1.6em;
    }
    .list__highlight-title {
        font-size: 18px;
    }
    .list__bonus {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list__bonus .list__bonus-title:nth-child(1), .list__bonus .list__bonus-title:nth-child(3) {
        font-size: 22px;
        font-weight: bold;
        line-height: initial;
        text-align: center;
    }
    .list__bonus .list__bonus-title:nth-child(2) {
        font-size: 22px;
        line-height: initial;
    }
    .list__bonus .list__bonus-title:nth-child(1), .list__bonus .list__bonus-title:nth-child(2) {
        margin-right: 5px;
    }
    .list__dropdown-rating img {
        max-width: 35px;
    }
    .list__top {
        padding-top: 25px;
    }
    .list__cta {
        padding-top: 0;
    }
    .list__bonus-container {
        grid-template-columns: 100%;
        padding: 15px 10px 0;
    }
    .list__highlight::after {
        margin-top: 10px;
        width: 50%;
        margin-left: 50%;
        transform: translate(-50%);
        content: '';
        height: 1px;
        background-color: rgb(230, 230, 230);
    }
    .list__review {
        padding: 10px 5px;
    }
    .list__highlight-subtitle {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .list__dropdown-assets {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 440px) {
    .list__dropdown-ctas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list__dropdown-cta {
        margin: 10px 0!important;
        width: 100%;
    }
}

@media screen and (max-width: 899px) {
    .list__dropdown {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .list__more-info {
        margin-top: 20px;
    }
}

@media screen and (max-width: 360px) {
    .dd-info-left {
        letter-spacing: 0;
    }
    .dd-register a, .dd-review-casino a {
        width: 100%;
        text-align: center;
    }
    .dd-register {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:767px) {
    .box-container {
        grid-template-columns: auto;
    }
    .cl_single .casino-list {
        grid-template-columns: auto;
    }
    .list__highlight-title {
        display: none;
    }
    .list__highlight-deposit {
        justify-content: center;
        margin-top: 25px;
    }
    .list__bonus-container .list__bonus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }
    .list__bonus-container .list__bonus-title:nth-child(1), .list__bonus-container .list__bonus-title:nth-child(3) {
        font-weight: normal;
        font-size: 16px;
        font-style: italic;
        letter-spacing: 1px;
    }
    .list__bonus-container .list__bonus-title:nth-child(2) {
        font-size: 42px;
    }
}

@media screen and (max-width: 767px) {
    .ribtop {
        top:7%;
        z-index: 999 ; 
    }
}
@media screen and (max-width: 767px) {
    .rib {
    top:-4%;
    z-index: 999 ;   
}
}


@media only screen and (max-width:767px) {
    .widebox-container .casino-box_content-wrapper {
        grid-template-columns: auto;
        padding: 5px 10px;
    }
    .widebox-container .casino-box_logo, .casino-box_review {
        text-align: center;
    }

    .widebox-container .casino-box_main-bonus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    .widebox-container .box__bonuses-title:nth-child(1), .widebox-container .box__bonuses-title:nth-child(3) {
        font-size: 16px;
        letter-spacing: 1px;
        font-style: italic;
        white-space: initial;
        text-align: center;
    }
    .widebox-container .box__bonuses-title:nth-child(2) {
        padding: 10px 0;
        font-size: 42px;
        line-height: initial;
    }
}

@media only screen and (max-width:767px) {
    .info-wrap .casino-filter {
        width: 100%;
    }
    .filter-item-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    a.js-filter-item.button-filter {
        flex: 0 0 46%;
        margin-bottom: 10px;
    }
    .casino-filter .filter-item-wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    .sm-hide {
        display: none;
    }
}

@media only screen and (max-width:867px) {
    .main-top-part, .bottom-part__wrap, .providers-payment {
        flex-wrap: wrap;
    }
    .upper-left-box, .upper-right-box, .upper-center-box, .bottom-part__wrap-left, .bottom-part__wrap-right, .payment-wrap, .providers-wrap {
        flex: 100%;
    }
    .main-top-part .upper-left-box, .main-top-part .upper-center-box, .casino-payment-methods {
        margin-right: 0;
    }
    .upper-left-box, .upper-center-box, .payment-wrap {
        margin-bottom: 10px;
    }
    .casino-payment-methods, .casino-providers {
        grid-template-columns: repeat(5, 20%);
    }
    .upper-center-box .center-box__wrap, .upper-right-box, .bottom-part__wrap {
        padding: 10px;
    }
    .casino-info-wrap .info-casino-info-left {
        flex: 70%;
    }
    .casino-info-wrap .info-casino-info-right {
        flex: 30%;
    }
    .casino-payment-methods, .casino-providers {
        grid-template-columns: repeat(4, 25%);
    }
}

@media only screen and (min-width:1600px) {
    .upper-casino-wrap {
        width: 70%;
    }
}