/* ----------------------------- Main styles -----------------------------*/

.single-casino-wrapper {
    background-color: #5A1C1D;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}

.main-top-part {
    display: flex;
}

.main-low-part {
    background: transparent;
    margin-bottom: 15px;
    border-radius: 5px;
}

.providers-payment {
    display: flex;
    margin: 10px 0;
}

.upper-casino-wrap {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

/* ----------------------------- TOP part left block -----------------------------*/

.upper-left-box {
    flex: 32%;
}

.upper-left-box .left-box__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.upper-left-box .left-box__img-area {
    text-align: center;
    margin-bottom: 20px;
}

.upper-left-box .list__bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-left-box .list__button {
    margin-top: 11px;
}

/* ----------------------------- TOP part center block -----------------------------*/

.upper-center-box {
    flex: 36%;
}

.upper-center-box .left {
    width: 40%;
}

.upper-center-box .right {
    width: 60%;
}

.upper-center-box .center-box__wrap, .upper-right-box {
    padding: 14px 10px 0;
    border-radius: 5px;
}

/* ----------------------------- TOP part right block -----------------------------*/

.upper-right-box {
    flex: 32%;
}

.upper-right-box .left {
    width: 70%;
}

.upper-right-box .right {
    width: 30%;
}

/* ------------------------------------------------------------------------------------------------------- */

.left-box__wrap .left-box__img-area img {
    width: 240px;
    height: 75px;
    object-fit: contain;
}

.center-box__wrap, .center-box__wrap td {
    background-color: rgba(255, 255, 255, 0.8);
}

.casino-info-wrap .casino-info-left, .casino-info-wrap .casino-info-right {
    padding: 7px 0;
}

.casino-info-wrap .casino-info-right {
    display: flex;
    justify-content: flex-end;
}

.center-box-right .casino-info-left {
    flex: 65%;
}

.center-box-right .casino-info-right {
    flex: 35%;
}

.casino-lower-part {
    background: transparent;
    margin-top: 15px;
    border-radius: 5px;
}

.bottom-part__wrap {
    padding: 20px;
    display: flex;
}

.bottom-part__wrap-left {
    flex: 0 0 49%;
    margin-right: 20px;
}

.bottom-part__wrap-right {
    flex: 0 0 50%;
}

.bottom-part__wrap-right .casino-info-wrap .fa-times-circle {
    color: #e00f00;
    font-size: 20px;
}

.bottom-part__wrap-right .casino-info-wrap .fa-check-circle {
    color: #216C2A;
    font-size: 20px;
}

.casino-text-part {
    background: #fff;
}

.casino-text-wrap {
    max-width: 70%;
    margin: 0 auto;
}

.casino-text-wrap #casino-content {
    padding: 40px 0;
}

.lower-text-wrap {
    max-width: 65%;
    margin: 0 auto;
}

.casino-content {
    padding-top: 40px;
}

.casino-name {
    padding: 15px 0;
    text-align: center;
}

.casino-name h1 {
    font-size: 52px;
    color: #fff;
}

.casino-payment-methods span {
    margin-right: 10px;
}

.casino-dropdown-heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

#bonus-info .table-link {
    font-weight: 700!important;
    color: #EC1149!important;
}

.ratings-left, .casino-info-wrap {
    display: flex;
    flex-wrap: wrap;
}

.ratings-info, .ratings-stars, .casino-info-left, .casino-info-right {
    flex: 48%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.ratings-left .ratings-info, .info-casino-info-left {
    font-weight: bold;
}

.casino-info-right {
    font-weight: bold;
}

.star-active {
    color: #ffd700;
}

.ratings-stars img {
    width: 22px;
    margin-right: 5px;
}

.info-wrap-left, .info-wrap-right {
    flex: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-casino-info-left {
    flex: 75%;
    padding: 10px 0;
}

.info-casino-info-right img {
    width: 22px;
}

.info-casino-info-right {
    flex: 25%;
    padding: 10px 0;
}

.info-casino-info-right {
    text-align: center;
}

.casino-payment-methods, .casino-providers {
    flex: 49%;
    border-radius: 5px;
}

.casino-payment-methods {
    margin-right: 10px;
}

.payment-wrap, .providers-wrap {
    flex: 0 0 50%;
}

.providers-payment-heading {
    color: #fff;
    font-weight: bold;
}

.casino-payment-methods, .casino-providers {
    display: grid;
    background: #fff;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: minmax(45px, auto);
    padding: 5px 0;
}

.review-payment-card {
    justify-self: center;
    align-self: center;
}

.review-payment-card img {
    width: 55px;
    height: 32px;
    object-fit: contain;
}

.casino-providers .software-item {
    justify-self: center;
    align-self: center;
}

.casino-providers .software-item img {
    width: 65px;
    height: 25px;
    object-fit: contain;
}

.casino-providers .software-item, .review-payment-card {
    padding: 5px;
}

#general-info tbody tr:last-child .right {
    color: #EC1149!important;
}

#bonus-info tbody tr:last-child .right {
    color: #216C2A;
}

.main-top-part table {
    margin: 0!important;
}

.upper-center-box .right, .upper-center-box .left, .upper-right-box .left, .upper-right-box .right {
    padding: 10px 0;
    background: #fff;
    font-weight: bold;
}

.upper-left-box .left-box__wrap, .upper-right-box, .casino-lower-part {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.upper-center-box .right, .upper-center-box .left, .upper-right-box .left, .upper-right-box .right {
    background-color: transparent!important;
}

.main-top-part .upper-left-box, .upper-center-box {
    margin-right: 10px;
}

.upper-left-box .list__bonus .list__bonus-title:nth-child(1), .upper-left-box .list__bonus .list__bonus-title:nth-child(3) {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

/* ------------------------------ Headers CSS ------------------------------- */

.casino-ratings-header .fas, .casino-info-header .fas, .providers-payment-heading .fas {
    margin-right: 10px;
}

caption.casino-info-header {
    text-align: center;
}

.casino-ratings-header, .casino-info-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.center-box__wrap img, .upper-right-box img, .casino-ratings-header img {
    width: 20px;
    margin-right: 10px;
}

.casino-ratings-header img {
    width: 28px;
}

/* ------------------------------ TABLE ROW CSS ---------------------------- */

table, td, th {
    border: none!important;
}

.main-top-part td, th {
    padding: 5px;
}

td.left {
    white-space: nowrap;
}

td.right {
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
}

/* ----------------------------- MOBILE STYLES ------------------------------ */

@media only screen and (max-width:1100px) {
    .main-top-part, .bottom-part__wrap, .providers-payment {
        flex-wrap: wrap;
    }
    .upper-left-box, .upper-right-box, .upper-center-box, .bottom-part__wrap-left, .bottom-part__wrap-right, .payment-wrap, .providers-wrap {
        flex: 100%;
    }
    .main-top-part .upper-left-box, .main-top-part .upper-center-box, .casino-payment-methods {
        margin-right: 0;
    }
    .upper-left-box, .upper-center-box, .payment-wrap {
        margin-bottom: 10px;
    }
    .casino-payment-methods, .casino-providers {
        grid-template-columns: repeat(5, 20%);
    }
    .upper-center-box .center-box__wrap, .upper-right-box, .bottom-part__wrap {
        padding: 10px;
    }
    .casino-info-wrap .info-casino-info-left {
        flex: 70%;
    }
    .casino-info-wrap .info-casino-info-right {
        flex: 30%;
    }
    .casino-payment-methods, .casino-providers {
        grid-template-columns: repeat(4, 25%);
    }

    .upper-left-box .left-box__wrap {
        padding:10px;
    }
}

@media only screen and (max-width:420px) {
    .upper-left-box .list__bonus .list__bonus-title:nth-child(1), .upper-left-box .list__bonus .list__bonus-title:nth-child(3) {
        white-space: initial;
    }

    td.right, td.left {
        white-space: initial;
    }

    .ratings-stars img {
        width: 18px;
    }
}