/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* METADATA CSS */

#cmb2-metabox-list-layout-data {
    display  : flex;
    flex-wrap: wrap;
}

.cmb2-id-cl-review-url,
.cmb2-id-cl-affiliate-url,
.cmb2-id-cl-list-highlight {
    display       : flex;
    flex-direction: column;
    flex          : 32%;
}

span.cmb2-metabox-description {
    display: inherit;
}

#cmb2-metabox-list-layout-data .cmb2-id-cl-box-bonus-field,
.cmb2-id-cl-list-bonus-field {
    flex          : 50%;
    display       : flex;
    flex-direction: column;
}

.cmb-row.cmb-type-multicheck-inline.cmb2-id-cl-deposit-methods.cmb-inline {
    flex: 100%;
}

/* MORE INFORMATION CSS */

#cmb2-metabox-more-information-data {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
}

#cmb2-metabox-more-information-data .cmb-row {
    display       : flex;
    flex-direction: column;
    flex          : 32%;
    border        : none;
}

div#cmb2-metabox-review-page-data {
    display  : flex;
    flex-wrap: wrap;
}

#cmb2-metabox-review-page-data .cmb-th {
    width: 100%;
}

#cmb2-metabox-review-page-data .cmb-row {

    flex          : 23%;
    border        : none;
    display       : flex;
    flex-direction: column;
}

#cmb2-metabox-more-information-data .cmb-th {
    width: 100%;
}

#cmb2-metabox-more-information-data .cmb-td {
    display       : flex;
    flex-direction: column;
}

.cmb-row.cmb-type-checkbox.cmb2-id-cl-decomissioned {
    width: 100%;
}